@model Terme.Endpoints.WebUI.Models.Carts.CartIndexViewModel
@inject IResourceManager _resourceManager
@{
    ViewData["Title"] = @_resourceManager[SharedResource.YourCart];

}
<div class="container py-4">
    <h4>@_resourceManager[SharedResource.YourCart]</h4>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm table-striped">
            <thead>
                <tr>
                    <th class="text-center">@_resourceManager[SharedResource.Quantity]</th>
                    <th class="text-center">@_resourceManager[SharedResource.Item]</th>
                    <th class="text-center">@_resourceManager[SharedResource.Price]</th>
                    <th class="text-center">@_resourceManager[SharedResource.Subtotal]</th>
                    <th class="text-center">@_resourceManager[SharedResource.Actions]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.Cart.Lines)
                {
                    <tr>
                        <td class="text-center align-middle">@line.Quantity</td>
                        <td class="text-right align-middle">@line.Product.Name</td>
                        <td class="text-right px-4 align-middle">@line.Product.Price.ToString("c")</td>
                        <td class="text-right px-4 align-middle">
                            @((line.Quantity * line.Product.Price).ToString("c"))
                        </td>
                        <td class="text-center align-middle">
                            <form asp-action="RemoveFromCart" method="post">
                                <input type="hidden" name="ProductID"
                                       value="@line.Product.Id" />
                                <input type="hidden" name="returnUrl"
                                       value="@Model.ReturnUrl" />
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <span class="mdi mdi-trash-can-outline mdi-24px line-height-24px"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot class="bg-light font-weight-bold">
                <tr>
                    <td colspan="4" class="text-right">@_resourceManager[SharedResource.Total]</td>
                    <td class="text-center">
                        @Model.Cart.ComputeTotalValue().ToString("c")
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="text-center">
        <a class="btn btn-outline-primary" href="@Model.ReturnUrl">@_resourceManager[SharedResource.ContinueShopping]</a>
        @if (Model.Cart.Lines.Any())
        {
            <a class="btn btn-success" asp-action="Checkout" asp-controller="Order">
                @_resourceManager[SharedResource.Checkout]
            </a>
        }
    </div>
</div>